@charset "utf-8";
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

:root{
    --color-head: rgb(197, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Header */
header{
    display:flex;
    text-align: center;    
    background-color: rgb(197, 2, 2);    
    flex-flow: row nowrap;
    justify-content: space-between;
}
header img#logo{
    width: 150px;
    margin: 40px;
    background-color: aliceblue;
    border-radius: 100%;
}
header img#perfil{
    width: 100px;
    height: 100px;
    margin: 45px;
}
header #navHeadr{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    align-items: center;
    min-width: 50%;
}
header #navHeadr ul{ 
    letter-spacing: 2px;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content:space-evenly;
    align-items: center;
    gap: 8%;
    font-size: 1.2rem;
} 
header #navHeadr ul li a{
    text-decoration: none;
    color: white;
}
header #navHeadr ul li:hover{
    transform: scale(1.2);
}



body{
    width: 100%;
}

/**Main **/
main{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    gap: 5%;
}

/*  Main NAV  */
main nav{
    margin: 0;
    width: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    background-color: lightgray;
}
main nav ul{
    list-style: none;
}
main nav ul li{
    margin: 2rem;
}
main nav ul li a{
    color: black;
    font-weight: bold;
}
main nav input{
    height: 100%;
    width: 1.5rem;
}

/* Tarjetas */
main section{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

main .cab{
    width: 80%;
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .cab h2{
    color: black;
}
hr{
    margin: 0 auto;
    background-color: red;
    height: 0.1rem;
    border: none;
    width: 95%;
}
main .cab input{
    padding: 0.5rem 1rem;
    background-color: black;
    border-radius: 20px;
    color: white;
}
main .tarjetas {
    width: 98%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
}

main .tarjeta {
    margin: 0 auto;
    min-width: 30%;
    border: solid 1px black;
    min-height: 350px;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main .tarjeta .cont{
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
main .tarjeta .cont strong{
    position: relative;
    top: -40%;
    background-color: orange;
    padding: 0.5rem;
    border-radius: 10px;
}
main .tarjeta .cont img{
    margin: 0 auto;
    width: 90%;
    max-height: 70%;
    border-radius: 40px;
}
main .tarjeta h3{
    color: black;
    margin-bottom: 0.5rem;
}

main .btnsJugador input[type="submit"]{
    padding: 0.7rem 1.2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 0.5rem;
    font-size: 1rem;
}
main .tarjeta .btnsJugador{
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 1.5rem;
}
main .tarjeta .btnsJugador a{
    font-size: 2rem;
}
/* Footer  */
footer{
    background-color: var(--color-head);
    max-height: 10rem;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "redd sec ...";
    min-width: 720px;

}

footer .redes{
    grid-area: redd;
}
footer .redes ul{
    list-style: none;
}
footer .redes ul li{
    color: white;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}
footer .redes ul img{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
}
footer section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    grid-area: sec;
}
footer section ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
footer section ul li a{
    color: white;
}