@charset "utf-8";
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

:root{
    --color-head: rgb(197, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/**/
body {
    width: 100%;
    background-color: whitesmoke;   
}
/* Header */
header{
    display:flex;
    text-align: center;    
    background-color: rgb(197, 2, 2);    
    flex-flow: row nowrap;
    justify-content: space-between;
}
header img#logo{
    width: 150px;
    margin: 40px;
    background-color: aliceblue;
    border-radius: 100%;
}
header img#perfil{
    width: 100px;
    height: 100px;
    margin: 45px;
}
header #navHeadr{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    align-items: center;
    min-width: 50%;
}
header #navHeadr ul{ 
    letter-spacing: 2px;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content:space-evenly;
    align-items: center;
    gap: 8%;
    font-size: 1.2rem;
} 
header #navHeadr ul li a{
    text-decoration: none;
    color: white;
}
header #navHeadr ul li:hover{
    transform: scale(1.2);
}


/* MAIN */

main{
    width: 80%;
     display: block;
     margin: 0 auto;
    margin-top: 1rem;
}

main section#principal div#banner{
    width: 100%;
    height: 400px;
    background: linear-gradient(
    rgba(0,0,0,0.7), 
    rgba(0,0,0,0.7)),url(../imgs/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:2%;
}





/* Footer  */
footer{
    background-color: var(--color-head);
    max-height: 10rem;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "redd sec ...";
}

footer .redes{
    grid-area: redd;
}
footer .redes ul{
    list-style: none;
}
footer .redes ul img{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
}
footer section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: sec;
}
footer section ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;

}