@charset "utf-8";
:root{
    --color-head: rgb(197, 2, 2);
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    
}
header{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(197, 2, 2);
}
header img{
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}
nav{
    text-align: left;

    letter-spacing: 2px;
    word-spacing: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    color: #000000;
}


header{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(197, 2, 2);
}


footer{
    background-color: rgb(197, 2, 2)d;
}