@charset "utf-8";
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

:root{
    --color-head: rgb(197, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/**/
body {
    width: 100%;
    background-color: whitesmoke;   
}
header{
    display:flex;
    text-align: center;    
    background-color: rgb(197, 2, 2);    
    flex-flow: row nowrap;
    justify-content: space-between;
}
header img#logo{
    width: 150px;
    margin: 40px;
    background-color: aliceblue;
    border-radius: 100%;
}
header img#perfil{
    width: 100px;
    height: 100px;
    margin: 45px;
}
header nav#navHeadr{
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    min-width: 50%;
}
header nav#navHeadr ul li{ 
    list-style: none;
} 
header nav#navHeadr ul li a{
    text-decoration: none;
    color: white;
}



/* Footer  */
footer{
    background-color: var(--color-head);
    max-height: 10rem;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "redd sec ...";
}

footer .redes{
    grid-area: redd;
}
footer .redes ul{
    list-style: none;
}
footer .redes ul img{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
}
footer section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: sec;
}
footer section ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;

}