@charset "utf-8";
:root{
    --color-head: rgb(197, 2, 2);
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**/
body {
    width: 100%;
    background-color: whitesmoke;   
}
header{
    display:grid;
    text-align: center;    
    background-color: rgb(197, 2, 2);    
    border: 10px solid greenyellow;  

}
header img{
    width: 150px;
    margin: 15px;
}
nav{
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    color: white;
}


header{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(197, 2, 2);
}


footer{
    background-color: rgb(197, 2, 2)d;
}