@charset "utf-8";
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

:root{
    --color-head: rgb(197, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}



body{
    width: 100%;
}

/* Footer  */
footer{
    background-color: var(--color-head);
    max-height: 10rem;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "redd sec ...";
}

footer .redes{
    grid-area: redd;
}
footer .redes ul{
    list-style: none;
}
footer .redes ul img{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
}
footer section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: sec;
}
footer section ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;

}