<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <header>
        <img src="../imgs/logo_sin_bg.png" alt="logo del club">
        <nav>    
            <a href="#">Temporadas</a> 
            <a href="#">Equipos</a> 
            <a href="#">Jugadores</a> 
            <a href="#">Home</a> 
            <a href="#">Calendario</a> 
            <a href="#">Noticias</a>
            <a href="#">Blog</a>     
        </nav>
        <hr>
    </header>
    <main>
        <section>

        </section>


    </main>
    <footer>
        <nav class="reedes">
            <ul>
                <li>
                    <img src="" alt="">              
                    <a href=""></a>
                </li>
                <li>
                    <img src="" alt="">
                    <a href=""></a>
                </li>
                <li>
                    <img src="" alt="">
                    <a href=""></a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>