<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <header>
        <a href="./index.html"><img id="logo" src="../imgs/logo_sin_bg.png" alt="logo del club"></a>
        <nav id="navHeadr">    
            <a href="#">Inicio</a> 
            <a href="#">Liga</a> 
            <a href="#">Partidos</a> 
            <a href="#">Equipos</a> 
            <a href="#">Jugadores</a> 
        </nav>
        <img id="perfil" src="../imgs/perfil_default.webp" alt="Default profile picture">
    </header>
    <main>
        <section id="principal">
            <div id="banner">
                <img src="../imgs/Graffiti_Court_Chronicles.jpeg" alt="">
            </div>
        </section>
    </main>
    <footer>
        <nav class="redes">
            <ul>
                <li>
                    <img src="../imgs/instaLogo.png" alt="">              
                    <a href="https://www.instagram.com/">Instagram</a>
                </li>
                <li>
                    <img src="../imgs/facebookLogo.png" alt="">
                    <a href="https://www.facebook.com/">Facebook</a>
                </li>
                <li>
                    <img src="../imgs/gmailLogo.png" alt="">
                    <a href="https://workspace.google.com/intl/es/gmail/">Correo</a>
                </li>
            </ul>
        </nav>
        <section>
            <ul>
                <li><a href="#">Aviso legal |</a></li>
                <li><a href="#">Política de Privacidad |</a></li>
                <li><a href="#"></a>Política de Cookies |</li>
                <li><a href="#"></a>Contacte</li>
            </ul>
        </section>
    </footer>
</body>
</html>