<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ayoub Luciano">
    <title>Jugadores</title>
    <link rel="icon" type="image/png" href="../imgs/logo_sin_bg.png">
    <link rel="stylesheet" href="../css/jugadores.css">
</head>
<body>
     <header>
        <a href="./index.html"><img id="logo" src="../imgs/logo_sin_bg.png" alt="logo del club"></a>
        <nav id="navHeadr">    
            <a href="./index.html">Inicio</a> 
            <a href="#">Liga</a> 
            <a href="#">Partidos</a> 
            <a href="#">Equipos</a> 
            <a href="#">Jugadores</a>    
        </nav>
        <img id="perfil" src="../imgs/perfil_default.webp" alt="Default profile picture">
    </header>

    <!-- Main-->
    <main>
        <nav>
            <ul>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Estadisticas</a></li>
            </ul>
            <input type="submit" value="→" id="ocultarNavBtn">
        </nav>
        <section>
            <div class="cab">
                <h2>JUGADORES</h2>
                <!-- MUESTRA SOLO AL ADMINISTRADORES Y ENTRENADORES-->
                <input type="button" value="AÑADIR" disabled>
            </div>
            <hr>
            <div class="tarjetas">
                <div class="tarjeta">
                    <div class="contenido">
                        <table>
                            <tr>
                                <th colspan="2">Nombre</th>
                            </tr>
                            <tr>
                                <th>Altura</th>
                                <th>0.0</th>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <th>0 Kg</th>
                            </tr>
                            <tr>
                                <th>Edad</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Experiencia</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Pais</th>
                                <th>ESP</th>
                            </tr>
                        </table>
                        <strong>0.0</strong>
                    </div>
                    
                    <div class="btnsJugador">
                        <input type="submit" value="Ver Perfil">
                        <a href="#">⭐</a>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="contenido">
                        <table>
                            <tr>
                                <th colspan="2">Nombre</th>
                            </tr>
                            <tr>
                                <th>Altura</th>
                                <th>0.0</th>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <th>0 Kg</th>
                            </tr>
                            <tr>
                                <th>Edad</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Experiencia</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Pais</th>
                                <th>ESP</th>
                            </tr>
                        </table>
                        <strong>0.0</strong>
                    </div>
                    
                    <div class="btnsJugador">
                        <input type="submit" value="Ver Perfil">
                        <a href="#">⭐</a>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="contenido">
                        <table>
                            <tr>
                                <th colspan="2">Nombre</th>
                            </tr>
                            <tr>
                                <th>Altura</th>
                                <th>0.0</th>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <th>0 Kg</th>
                            </tr>
                            <tr>
                                <th>Edad</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Experiencia</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Pais</th>
                                <th>ESP</th>
                            </tr>
                        </table>
                        <strong>0.0</strong>
                    </div>
                    
                    <div class="btnsJugador">
                        <input type="submit" value="Ver Perfil">
                        <a href="#">⭐</a>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="contenido">
                        <table>
                            <tr>
                                <th colspan="2">Nombre</th>
                            </tr>
                            <tr>
                                <th>Altura</th>
                                <th>0.0</th>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <th>0 Kg</th>
                            </tr>
                            <tr>
                                <th>Edad</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Experiencia</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Pais</th>
                                <th>ESP</th>
                            </tr>
                        </table>
                        <strong>0.0</strong>
                    </div>
                    
                    <div class="btnsJugador">
                        <input type="submit" value="Ver Perfil">
                        <a href="#">⭐</a>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="contenido">
                        <table>
                            <tr>
                                <th colspan="2">Nombre</th>
                            </tr>
                            <tr>
                                <th>Altura</th>
                                <th>0.0</th>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <th>0 Kg</th>
                            </tr>
                            <tr>
                                <th>Edad</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Experiencia</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Pais</th>
                                <th>ESP</th>
                            </tr>
                        </table>
                        <strong>0.0</strong>
                    </div>
                    
                    <div class="btnsJugador">
                        <input type="submit" value="Ver Perfil">
                        <a href="#">⭐</a>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="contenido">
                        <table>
                            <tr>
                                <th colspan="2">Nombre</th>
                            </tr>
                            <tr>
                                <th>Altura</th>
                                <th>0.0</th>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <th>0 Kg</th>
                            </tr>
                            <tr>
                                <th>Edad</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Experiencia</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Pais</th>
                                <th>ESP</th>
                            </tr>
                        </table>
                        <strong>0.0</strong>
                    </div>
                    
                    <div class="btnsJugador">
                        <input type="submit" value="Ver Perfil">
                        <a href="#">⭐</a>
                    </div>
                </div>

                <div class="tarjeta">
                    <div class="contenido">
                        <table>
                            <tr>
                                <th colspan="2">Nombre</th>
                            </tr>
                            <tr>
                                <th>Altura</th>
                                <th>0.0</th>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <th>0 Kg</th>
                            </tr>
                            <tr>
                                <th>Edad</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Experiencia</th>
                                <th>0 años</th>
                            </tr>
                            <tr>
                                <th>Pais</th>
                                <th>ESP</th>
                            </tr>
                        </table>
                        <strong>0.0</strong>
                    </div>
                    
                    <div class="btnsJugador">
                        <input type="submit" value="Ver Perfil">
                        <a href="#">⭐</a>
                    </div>
                </div>

                
                </div>
        </section>
    </main>

    <footer>
        <nav class="redes">
            <ul>
                <li>
                    <img src="../imgs/instaLogo.png" alt="">              
                    <a href="https://www.instagram.com/">Instagram</a>
                </li>
                <li>
                    <img src="../imgs/facebookLogo.png" alt="">
                    <a href="https://www.facebook.com/">Facebook</a>
                </li>
                <li>
                    <img src="../imgs/gmailLogo.png" alt="">
                    <a href="https://workspace.google.com/intl/es/gmail/">Correo</a>
                </li>
            </ul>
        </nav>
        <section>
            <ul>
                <li><a href="#">Aviso legal |</a></li>
                <li><a href="#">Política de Privacidad |</a></li>
                <li><a href="#"></a>Política de Cookies |</li>
                <li><a href="#"></a>Contacto</li>
            </ul>
        </section>
    </footer>
</body>
</html>