<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ayoub Luciano">
    <title>Jugadores</title>
    <link rel="icon" type="image/png" href="../imgs/logo_sin_bg.png">
    <link rel="stylesheet" href="../css/jugadores.css">
</head>
<body>
    <header>

    </header>


    <footer>
        <nav class="redes">
            <ul>
                <li>
                    <img src="../imgs/instaLogo.png" alt="">              
                    <a href="https://www.instagram.com/">Instagram</a>
                </li>
                <li>
                    <img src="../imgs/facebookLogo.png" alt="">
                    <a href="https://www.facebook.com/">Facebook</a>
                </li>
                <li>
                    <img src="../imgs/gmailLogo.png" alt="">
                    <a href="https://workspace.google.com/intl/es/gmail/">Correo</a>
                </li>
            </ul>
        </nav>
        <section>
            <ul>
                <li><a href="#">Aviso legal |</a></li>
                <li><a href="#">Política de Privacidad |</a></li>
                <li><a href="#"></a>Política de Cookies |</li>
                <li><a href="#"></a>Contacte</li>
            </ul>
        </section>
    </footer>
</body>
</html>