

/* Tarjetas */
 section{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

 .cab{
    width: 80%;
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .cab h2{
    color: black;
}
hr{
    margin: 0 auto;
    background-color: #7a0000;
    height: 0.1rem;
    border: none;
    width: 95%;
}
 .cab input{
    padding: 0.5rem 1rem;
    background-color: black;
    border-radius: 20px;
    color: white;
}
 .tarjetas {
    width: 98%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
}

 .tarjeta {
    margin: 0 auto;
    min-width: 30%;
    border: solid 1px black;
    min-height: 350px;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
 .tarjeta .cont{
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
 .tarjeta .cont strong{
    position: relative;
    top: -40%;
    background-color: orange;
    padding: 0.5rem;
    border-radius: 10px;
}
 .tarjeta .cont img{
    margin: 0 auto;
    width: 80%;
    max-height: 70%;
    border-radius: 40px;
}
 .tarjeta h3{
    color: black;
    margin-bottom: 0.5rem;
}

 .btnsJugador > a:first-child{
    padding: 0.7rem 1.2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 0.5rem;
    font-size: 1.3rem !important;
}
 .tarjeta .btnsJugador{
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 1.5rem;
}
 .tarjeta .btnsJugador a{
    font-size: 2rem;
    text-decoration: none;
}

.pagination {
    height: 3rem;
}

.pagination .page-item.active .page-link {
    background-color: #000;
    border-color: #000;
    color: #fff;
}


@media (max-width: 992px) {
    section {
        width: 100%;
        margin: 0;
    }

    .cab {
        width: 95%;
        margin: 1rem auto;
    }

    .tarjetas {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0 1rem;
    }

    .tarjeta {
        width: 100%;
        min-width: 0;
        margin: 1rem 0;
        min-height: auto;
    }

    .tarjeta .cont img {
        width: 100%;
    }

    .tarjeta .btnsJugador {
        width: 80%;
    }
}
