
/* Principal Section */
section#principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1rem 3rem 1rem;
}

/* Banner */
#banner {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  border: 2px solid gray;
  box-shadow: 5px 5px 5px rgb(36, 16, 16);
}

#banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  padding: 0.5rem 1rem;
  background-color: rgba(0,0,0,0.5);
  border-radius: 8px;
  width: 90%;
  color: white;
}

.scroll-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll {
  display: flex;
  width: 500%;
  height: 100%;
  animation: slideRight 25s infinite;
}

.slide {
  flex: 0 0 20%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.5s ease;
}

.slide:hover img {
  transform: scale(1.05);
}

.slide-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  background: rgba(0,0,0,0.4);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

/* Slide animation */
@keyframes slideRight {
  0%, 16% { transform: translateX(0%); }
  20%, 36% { transform: translateX(-20%); }
  40%, 56% { transform: translateX(-40%); }
  60%, 76% { transform: translateX(-60%); }
  80%, 96% { transform: translateX(-80%); }
  100% { transform: translateX(0%); }
}

/* Destacados */
.destac {
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
}

.destac hr {
  margin: 0.5rem auto;
  border: 0.6px solid rgb(0, 0, 0);
}

#destacados, #noticias {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    gap: 5%;
    padding-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
#destacados {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    gap: 5%;
    padding-bottom: 1rem;

    /* Barra de scroll visible */
    scrollbar-width: thin;
    scrollbar-color: var(--color-head) #f0f0f0;
}

/* Chrome, Edge, Safari */
#destacados::-webkit-scrollbar {
    height: 16px;
}

#destacados::-webkit-scrollbar-track {
    background: #f0f0f0;        /* Fondo de la barra */
    border-radius: 10px;
}

#destacados::-webkit-scrollbar-thumb {
    background: var(--color-head); /* Color de la barra */
    border-radius: 10px;
}

#destacados article {
    flex: 0 0 35%;
    margin-right: 5rem;
    scroll-snap-align: center;
    margin: 0;
    box-shadow: none;
    width: 100%;
    margin: 0 auto;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}

#destacados article .equipoDestacado{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#destacados article a{
    text-decoration: none;
}

#destacados article strong{
    color: black;
}

#destacados article img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
#destacados article .resultadoDesatacados{
    display: flex;
    flex-flow: column nowrap;
    color: black;
    margin: 0.5rem;
}
#destacados article .resultadoDesatacados a{
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: var(--color-head);
    color: black;
    transition: 1s ease;
}

#destacados article .resultadoDesatacados a:hover{
    background-color: black;
    color: var(--color-head);
}

#noticias a{
    text-decoration: none;
}

/*----------notcias-eventos-----------*/
.notcias-eventos{
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.notcias-eventos hr{
    border: 2px solid black;
    height: 100%;
}
.notcias-eventos *{
    color: black;
}
/*---------noticias------*/
.notcias-eventos #noticias{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    text-align: center;
    color: black;
    min-width: 45%;
}

.notcias-eventos #noticias article{
    min-height: 5rem;
    min-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgb(238, 238, 238);
}
.notcias-eventos #noticias article a{
    text-decoration: none;
}
.notcias-eventos #noticias article hr{
    border: 1px solid gray;
}
.notcias-eventos #noticias article .infoNoticia{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.notcias-eventos #noticias article .infoNoticia small{
    color: rgb(59, 59, 59);
}
.notcias-eventos #noticias article .infoNoticia img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
.notcias-eventos #noticias article .infoNoticia > *:not(img) {
    position: relative;
    top: 20px;
    margin-left: 10px;
}

/*----------eventos------------*/
.notcias-eventos .eventos{
    min-width: 45%;
    text-align: center;
    gap: 2rem;
    display: flex;
    flex-flow: column nowrap;
}
.notcias-eventos .eventos .calendario iframe{
    min-width: 100%;
    min-height: 30rem;
}

.notcias-eventos .eventos article{
    min-height: 5rem;
    min-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgb(238, 238, 238);
}
.notcias-eventos .eventos article a{
    text-decoration: none;
}
.notcias-eventos .eventos article hr{
    border: 1px solid gray;
}
.notcias-eventos .eventos article .infoEvento{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.notcias-eventos .eventos article .infoEvento small{
    color: rgb(59, 59, 59);
}
.notcias-eventos .eventos article .infoEvento img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
.notcias-eventos .eventos article .infoEvento > *:not(img) {
    position: relative;
    top: 20px;
    margin-left: 10px;
}

/*--------movil--------------*/
@media (max-width: 992px) {
    *{
        font-size: 1.5rem;
    }
    section#principal {
        width: 100%;
    }

    #banner {
        height: 350px;
    }

    #banner h1 {
        font-size: 1.8rem;
    }

    .banner .scroll-wrapper .slide-text{
        font-size: 2rem !important;
    }

    #destacados, #noticias {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        gap: 5%;
        padding-bottom: 1rem;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    #destacados article {
        flex: 0 0 60%;
        margin-right: 5rem;
        scroll-snap-align: center;
        margin: 0;
        box-shadow: none;
        width: 100%;
        margin: 0 auto;
        min-height: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
    }

    /*-----notcias-eventos----------*/
    .notcias-eventos{
        display: flex;
        flex-flow: column nowrap;

    }

    #noticias article {
        min-height: auto !important;
        width: 100%;
        padding: 1rem 2rem;
    }

    /* Simulación de flechas visuales */
    .destac::before, .destac::after{
        content: "‹";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        color: var(--color-head);
        z-index: 10;
        background: rgba(255,255,255,0.9);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    .destac, #noticias { position: relative; }

    .destac::before { left: 5px; }
    .destac::after{
        right: 5px;
        content: "›";
    }

    #destacados::-webkit-scrollbar {
        height: 5px;
    }

    #destacados::-webkit-scrollbar-thumb{
        background: var(--color-head);
        border-radius: 10px;
    }
}

@media (max-width: 480px) {
    #destacados article img {
        width: 70px;
        height: 70px;
    }

    #destacados article .resultadoDesatacados h3 {
        font-size: 1rem;
    }
}
