

/* Tarjetas */
 section{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

 .cab{
    width: 80%;
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .cab h2{
    color: black;
}
hr{
    margin: 0 auto;
    background-color: #7a0000;
    height: 0.1rem;
    border: none;
    width: 95%;
}
 .cab a{
    padding: 0.5rem 1rem;
    background-color: black;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
 .tarjetas {
    width: 98%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
}

 .tarjeta {
    min-width: 30%;
    border: solid 1px black;
    min-height: 300px;
    margin: 0.5rem;
    border-radius: 10px;
}
 .tarjeta .contenido{
    margin: 0 auto;
    background-size: cover;
    background-repeat: none;
    height: 80%;
    width: 95%;
    padding: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    margin-top: 0.5rem;
    border-radius: 10px;
}
 .tarjeta .contenido table{
    background-color: rgba(255, 255, 255, 0.8);
}
 .tarjeta .contenido strong{
    padding: 0.5rem;
    background-color: yellow;
    border-radius: 12px;
    color: #000;
}
 .tarjeta .contenido h3 ,  .tarjeta .contenido table th{
    color: black;
    margin: 0.5rem;
    padding: 0.2rem;
    border-bottom: 1px solid black;
}

 .btnsJugador input[type="submit"]{
    padding: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 0.5rem;
}
 .tarjeta .btnsJugador{
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 50%;
}
 .tarjeta .btnsJugador a{
    font-size: 2rem;
    text-decoration: none;
}

.pagination {
    height: 3rem;
}

.pagination .page-item.active .page-link {
    background-color: #000;
    border-color: #000;
    color: #fff;
}


@media (max-width: 992px) {
    section {
        width: 100%;
        margin: 0;
    }

    .cab {
        width: 95%;
        margin: 1rem auto;
    }

    .tarjetas {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0 1rem;
    }

    .tarjeta {
        min-width: 0;
        width: 100%;
        margin: 1rem 0;
        height: 70rem;
    }
    .tarjeta .contenido table{
        height: 45%;
        width: 45%;
        font-size: x-large;
    }

    .tarjeta .btnsJugador *{
        height: 4rem;
        width: 8rem;
        font-size: x-large
    }

    .tarjetas #paginas li span, .tarjetas #paginas li a{
        height: 6rem;
        width: 6rem;
        font-size: xx-large;
    }

    .tarjetas #paginas {
        font-size: xx-large;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}
