// 1️⃣ Sass modules
@use 'variables';
@use 'bootstrap' as *;

// 2️⃣ Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');




/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

:root{
    --color-head: rgb(197, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body {
    margin: 0;
    display: grid;
    grid-template-areas:
        "hea hea hea"
        "naL mai mai"
        "foo foo foo";
    grid-template-columns: 15% 1fr 1fr;
    min-height: 100vh;
    height: 100vh;
}



/*main*/
main{
    grid-area: mai;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
}

/* Header */
header{
    grid-area: hea;
    display:flex;
    text-align: center;
    background-color: rgb(197, 2, 2);
    flex-flow: row nowrap;
    justify-content: space-between;
    max-height: 100px;
    padding: 1rem 3rem;
}
header img#logo{
    width: 70px;
    max-height: 70px;
    margin: 3px;
    background-color: aliceblue;
    border-radius: 100%;
}
header img#perfil{
    width: 70px;
    max-height: 70px;
    margin: 3px;
}
header #navHeadr{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    align-items: center;
    min-width: 50%;
}
header #navHeadr ul{
    letter-spacing: 2px;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content:space-evenly;
    align-items: center;
    gap: 8%;
    font-size: 1.2rem;
}
header #navHeadr ul li a{
    text-decoration: none;
    color: white;
}
header #navHeadr ul li:hover{
    transform: scale(1.2);
}
#navLeft {
  grid-area: naL;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 80%;
  min-width: 150px;
  padding: 0;
  box-sizing: border-box;
}

#navIzquierda {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  background-color: rgb(172, 168, 168);
}

#navIzquierda.oculto {
  display: none;
}

#navIzquierda ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#navIzquierda ul li a {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.2s ease;
}

#navIzquierda ul li a:hover {
  background-color: rgb(140, 136, 136);
  color: white;
  transform: scale(1.05);
}

#navLeft input#ocultarNavBtn {
  width: 2rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 100%;
}
#navLeft input#ocultarNavBtn:hover {
  background-color: rgb(50, 50, 50);
}


/* Footer  */
footer{
    grid-area: foo;
    background-color: var(--color-head);
    max-height: 10rem;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "redd sec ...";
    min-width: 720px;

}

footer .redes{
    grid-area: redd;
}
footer .redes ul{
    list-style: none;
}
footer .redes ul li{
    color: white;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}
footer .redes ul img{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
}
footer section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    grid-area: sec;
}
footer section ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
footer section ul li a{
    color: white;
}
