// 1️⃣ Sass modules
@use 'variables';
@use 'bootstrap' as *;

// 2️⃣ Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');




/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

:root{
    --color-head: rgb(197, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body *{
    text-decoration: none;
    display: grid;
    grid-template-areas: "hea hea hea"
                        "naL mai mai"
                        "foo foo foo";
}

/*main*/
main{
    grid-area: mai;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    gap: 5%;
}

/* Header */
header{
    grid-area: hea;
    display:flex;
    text-align: center;
    background-color: rgb(197, 2, 2);
    flex-flow: row nowrap;
    justify-content: space-between;
    max-height: 100px;
    padding: 1rem 3rem;
}
header img#logo{
    width: 70px;
    max-height: 70px;
    margin: 3px;
    background-color: aliceblue;
    border-radius: 100%;
}
header img#perfil{
    width: 70px;
    max-height: 70px;
    margin: 3px;
}
header #navHeadr{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    align-items: center;
    min-width: 50%;
}
header #navHeadr ul{
    letter-spacing: 2px;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content:space-evenly;
    align-items: center;
    gap: 8%;
    font-size: 1.2rem;
}
header #navHeadr ul li a{
    text-decoration: none;
    color: white;
}
header #navHeadr ul li:hover{
    transform: scale(1.2);
}

/* Main NAV */
#navLeft {
    grid-area: naL;
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 1rem;
}

#navLeft ul {
  list-style: none;
}

#navLeft ul li {
  margin: 1rem 0;
}

#navLeft ul li a {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

#navLeft input {
  width: 100%;
  margin-top: 1rem;
}

/* Footer  */
footer{
    grid-area: foo;
    background-color: var(--color-head);
    max-height: 10rem;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "redd sec ...";
    min-width: 720px;

}

footer .redes{
    grid-area: redd;
}
footer .redes ul{
    list-style: none;
}
footer .redes ul li{
    color: white;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}
footer .redes ul img{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.5rem;
}
footer section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    grid-area: sec;
}
footer section ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
footer section ul li a{
    color: white;
}
