*{
    color: black;
}

/*---tabla---*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th  img{
    width: 50px;
    border-radius: 50%;
}
th a{
    text-decoration: none;
    color: black;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
